 @font-face {
    font-family: "Architex";
    src: url("../../public/fonts/Architex.ttf");
 }
  @font-face {
    font-family: "Cheap-Potatoes-Black";
    src: url("../../public/fonts/Cheap\ Potatoes\ Black.ttf");
  }
   @font-face {
    font-family: "Cheap-Potatoes-Black-Thin";
    src: url("../../public/fonts/Cheap\ Potatoes\ Black\ Thin.ttf")
 }

 /* [Usage] color: var(--olive); */
 :root {
  --olive: #4A752C;
}

body {
  margin: 0;
  font-family : 'Cheap-Potatoes-Black-Thin', sans-serif;
}

/* main page */
.home-container {
  display: flex;
}

.home-main-container{
  margin-left: 305px; 
}

/* sidebar */
.side-bar{
  position: fixed;
  background-color: #DFE5DE;
  width: 305px;
  height: 100vh;
}

.side-bar-button {
  background: none;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #7E7E7E;
  font-family : 'Cheap-Potatoes-Black-Thin', sans-serif;
}

.side-bar-button:active{
  color:#4A752C;
  font-weight: bolder;
}

.name-plate {
  color: var(--olive);
  line-height: 70px;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 30px;
}


/* login page */
.logo {
  color: var(--olive);
  font-size: 35px;
  margin-bottom: 10px;
}

/* button - login, signup */
.big-button {
  margin-top: 30px;
}

.big-button button {
  border: 3px solid #4A752C;
  background-color: #4A752C;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: 350px;
  height: 50px;
}

.big-button button:hover,
.big-button button:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}