 @font-face {
    font-family: "Architex";
    src: url("../../public/fonts/Architex.ttf");
 }
  @font-face {
    font-family: "Cheap-Potatoes-Black";
    src: url("../../public/fonts/Cheap\ Potatoes\ Black.ttf");
  }
   @font-face {
    font-family: "Cheap-Potatoes-Black-Thin";
    src: url("../../public/fonts/Cheap\ Potatoes\ Black\ Thin.ttf")
 }

 /* [Usage] color: var(--olive); */
 :root {
  --olive: #4A752C;
}

body {
  margin: 0;
  font-family : 'Cheap-Potatoes-Black-Thin', sans-serif;
}

.home-container {
  display: flex;
}

.home-main-container{
  margin-left: 305px; 
}

.side-bar{
  position: fixed;
  background-color: #DFE5DE;
  width: 305px;
  height: 100vh;
}

.side-bar-button {
  background: none;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #7E7E7E;
  font-family : 'Cheap-Potatoes-Black-Thin', sans-serif;
}

.name-plate {
  color: var(--olive);
  line-height: 70px;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 30px;
}

